# Daily.co API Configuration

DAILY_API_KEY=73cdd4c6a7240308bdbe80621d62309d0cbada79ea4081fa1af29a0c12f6fadf

# Email Configuration
EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_USERNAME=strataproctorbot@gmail.com
EMAIL_PASSWORD=utak kpde pttl yvak
EMAIL_DEFAULT_RECEIVER=candidly-reports@concret.io

# OpenAI Configuration (if using GPT for analysis)


# Application Configuration
DEBUG=false
LOG_LEVEL=INFO

# Deployment Configuration
ENVIRONMENT=production
PORT=8080



EMAIL_SENDER=strataproctorbot@gmail.com
EMAIL_APP_PASSWORD=utak kpde pttl yvak
EMAIL_REPORT_RECEIVER=candidly-reports@concret.io
EMAIL_ARTIFACTS_RECEIVER=candidly-support@concret.io